<div class="edit-car-container">
    <h2>Edit Car</h2>
    
    <form class="edit-car-form" (ngSubmit)="onSubmit()">
      <div>
        <label for="make">Make:</label>
        <input type="text" id="make" [(ngModel)]="car.make" name="make" required />
      </div>
      
      <div>
        <label for="model">Model:</label>
        <input type="text" id="model" [(ngModel)]="car.model" name="model" required />
      </div>
  
      <div>
        <label for="year">Year:</label>
        <input type="text" id="year" [(ngModel)]="car.year" name="year" required />
      </div>
  
      <div>
        <label for="power">Power:</label>
        <input type="text" id="power" [(ngModel)]="car.power" name="power" required />
      </div>
  
      <div>
        <label for="color">Color:</label>
        <input type="text" id="color" [(ngModel)]="car.color" name="color" required />
      </div>
  
      <button type="submit">Save Changes</button>
    </form>
  </div>
  