/* Footer основни стилове */
footer {
  background-color: #003f7f; /* Тъмна версия на Portimao Blue */
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.footer-content p {
  margin: 5px 0;
  font-size: 0.9em;
  line-height: 1.5;
}

.footer-content p:first-of-type {
  font-weight: bold;
}

footer a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
