<header>
  <div class="navbar">
    <div class="logo-wrap">
      <img src="logo.png" alt="Cars Blog Logo" class="logo-image" />
      <span class="logo-text">Cars Blog</span>
    </div>
    <div class="user-actions">
      <ul>
        <li *ngIf="isLoggedIn">
          <a routerLink="/profile">{{ username }}'s Profile</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a (click)="logout()">Logout</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/my-garage">My Garage</a></li>
      <li><a routerLink="/blog">Blog</a></li>
      <li><a routerLink="/add-post">New Post</a></li>
    </ul>
  </nav>
</header>
