/* Header основни стилове */
header {
  background-color: #0056b3; /* Portimao Blue */
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 140px;
  margin-right: 15px;
}

.logo-text {
  font-family: 'Parisienne', cursive;
  font-size: 3.5em; 
  color: #fff;
}


.user-actions ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.user-actions a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.user-actions a:hover {
  color: #ffcc00;
}

/* Navigation links */
nav {
  margin-top: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffcc00;
}
